

.feedback-head {
	background: #48cbe8;
	padding: 42px 13px 2px;
	border-bottom: 17px solid #67dffa;
	border-radius: 5px 5px 0 0;
}
.feedback-titul {
position: relative;
display: block;
font-family: 'fira_sansbook';
text-align: center;
font-size: 27px;
color: white;
margin-bottom: 34px;
}

.feedback-body {
padding: 42px 124px;
}

.feedback-body .input-wrapper {
	display: inline-block;
	width: 100%;
}
.feedback-body .input-wrapper .form-input-txt {
	width: 48%;
	margin-bottom: 6px;
}

input#captcha {
	width: 48%;
	height: 32px;
	margin-top: 21px;
 	padding: 6px 12px;
}

img.captcha {
	width: 48%;
	height: 79px;
	border-radius: 4px;
	border: 1px solid #48cbe8;
	margin-bottom: 5px;
}

.feedback-body .textarea {
	height: 182px;
}

.feedback-body .btn-wrap {
	position: relative;
	width: 100%;
	margin-bottom: 157px;
}

.btn-wrap .s-button {
	position: relative;
	left: 0;
}

.btn-wrap .r-button {
	position: relative;
	float: right;
}
.r-button {
	border-radius: 5px;
	background-color: rgb(132, 157, 181);
	height: 33px;
	border:solid #687b8f;
	border-width: 0 0 2px 0;	
	color: white;
	font-family: 'fira_sansbook';
	font-size: 20px;
	padding: 0px 20px;
}
.r-button:active {border-top: solid 2px #687b8f}
.r-button:hover {border-bottom: none;}

