input, textarea, button {outline: none;}

input, textarea {
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 12px;
	width: 100%;
	padding: 12px 12px;
 }

textarea {resize:none;}

.form-input-txt {margin-bottom: 12px}

.s-button {
	border-radius: 5px;
	background-color: rgb(72, 203, 232);
	height: 33px;
	border:solid #3ba8c0;
	border-width: 0 0 2px 0;	
	color: white;
	font-family: 'fira_sansbook';
	font-size: 20px;
	padding: 0px 20px;
}
.s-button:active {border-top: solid 2px #3ba8c0}
.s-button:hover {border-bottom: none;}

.form-input {
	display: block;	
	height: 41px;
	color: #48cbe8;
	background-color: #fff;
	border: 1px solid #48cbe8;
	border-radius: 4px;
	outline: none;
}
.form-input-header {
	font-family: 'fira_sansbook';
	color: #959aa8;
	font-size: 18px;	
}

.textarea {
	display: block;
	width: 100%;
	height: 110px;	
	color: #48cbe8;
	border: 1px solid rgb(72, 203, 232);
	border-radius: 4px;
}

/*placeholder*/

*::-webkit-input-placeholder {
    color: #48cbe8;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #48cbe8;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #48cbe8;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #48cbe8;
}

/*плавно убираем placeholder*/
input. ::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

/*стилизуем загрузку файлов*/

.load-wrap {
	width: 100%;
	position: relative;
}
.load-label {
	display: block;
	width: 52px;
	height: 41px;
	position: absolute;
	right: 0;
	background:  #48cbe8 url(../img/botton_cloud.png) 10px 7px no-repeat;
	border-radius: 0 4px 4px 0;
}

.fileupload {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*tooltips*/

.divider {
	margin: 50px;
}

.tooltip {
  display: inline-block;
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity .3s;
  -moz-transition: opacity .3s;
  -ms-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s; }
}	

.tooltip__inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #000;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap; }
  .tooltip__inner:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px; }

.tooltip_right, .tooltip_left {
  padding: 0 5px; }
  .tooltip_right .tooltip__inner:after, .tooltip_left .tooltip__inner:after {
    top: 50%;
    margin-top: -5px; }

.tooltip_top, .tooltip_bottom {
  padding: 5px 0px; }
  .tooltip_top .tooltip__inner:after, .tooltip_bottom .tooltip__inner:after {
    left: 50%;
    margin-left: -5px; }

.tooltip_top .tooltip__inner:after {
  bottom: 0;
  border-top-color: #000;
  border-bottom-width: 0px; }

.tooltip_left .tooltip__inner:after {
  right: 0;
  border-left-color: #000;
  border-right-width: 0px; }

.tooltip_right .tooltip__inner:after {
  left: 0;
  border-right-color: #000;
  border-left-width: 0px; }

.tooltip_bottom .tooltip__inner:after {
  top: 0;
  border-bottom-color: #000;
  border-top-width: 0px; }