/*стили модального окна*/

.popup-inner {
background: #eff3f7;
border-radius: 5px;
width: 364px;
box-shadow: 0px 6px 12px 0.5px rgba(13, 16, 7, 0.35);
}

.popup-titul {
background: #48cbe8;
padding: 6px 13px 2px;
border-bottom: 10px solid #67dffa;
border-radius: 5px 5px 0 0;
}
.popup-titul-txt {
font-family: 'fira_sansbook';
font-size: 23px;
color: white;
margin: 0;
}
.popup-titul .popup__close {
height: 25px;
width: 25px;
position: absolute;
right: 11px;
top: 10px;
background: url(../img/botton-x.png) no-repeat;
border: 0;

}

.popup-body {
padding: 7px 22px;
}
.popup-body .button-wrap {
text-align: center;
margin: 13px auto 6px;
}